@import '../../../assets/styles/vars';

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: $black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    opacity: 0.8;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__right-block-links {
        margin-right: 20px;
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
    }
}